* {
  margin:0;
  padding:0;
  font-family:Verdana, Arial, sans-serif;
}

ul#sessions {
  padding-bottom:55px;
  overflow:auto;
}

li.session {
  float:left;
  padding:2px;
  width:250px;
  height:200px;
  margin:5px 0 0 5px;
  list-style:none;
  border:1px solid black;
}

li.session form input {
  width:237px;
  height:20px;
  padding:0 5px;
}

li.session form.blocking input {
  background-position:right;
  background-repeat:no-repeat;
  background-image:url(spinner.gif);
}

li.session .header {
  padding-left:5px;
  margin-bottom:5px;
}

li.session .header .ui-button {
  float:right;
  margin:1px;
  padding:1px;
}

li.session label .ui-button-text {
  font-size:10px;
  padding:0 5px;
}

li.session ul.messages {
  padding:5px;
  height:140px;
  overflow-y:auto;
}

li.session.create .services,
li.session.create .button {
  width:225px;
  margin:10px;
}

form#chatInput {
  right:0;
  bottom:0;
  left:0;
  padding:10px;
  position:fixed;
  border-top:1px solid black;
  background-color:#fff;
}

form#chatInput input {
  width:100%;
  height:25px;
  padding:0 5px;
}

/* jQuery UI overrides here */
.ui-button-icon-only {
  width:16px;
}